"on":
    push:
        branches:
            - main
name: Deploy to go-crasher
jobs:
    porter-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set Github tag
              id: vars
              run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
            - name: Setup porter
              uses: porter-dev/setup-porter@v0.1.0
            - name: Deploy stack
              timeout-minutes: 30
              run: porter apply
              env:
                PORTER_APP_NAME: go-crasher
                PORTER_CLUSTER: "1"
                PORTER_DEPLOYMENT_TARGET_ID: 72220ab2-62cd-4d54-88cd-d4451cecd9d7
                PORTER_HOST: https://gil.withporter.run
                PORTER_PROJECT: "1"
                PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
                PORTER_TOKEN: ${{ secrets.PORTER_APP_1_1034515288 }}
